
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        <p>Right now = <%= now %>
        </p>
        <p>
            Yesterday = <%= yesterday %>
        </p>
        <p>
            cron UTC: <%= startTime %> - <%= endTime %>
        </p>
    </div>
</body>

</html>